@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  direction: rtl;
  text-align: right;
}

body {
  background-color: #f6f5f8;
}

.Login {
  background-image: url("../public/Login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
